@model AppData.Models.SanPham

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>SanPham</h4>
<hr />
<div class="row  login-container">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="AnhSP" class="control-label">Ảnh sản phẩm</label>
                <input type="file" name="imgFile" id="AnhSP" />
                <span asp-validation-for="AnhSP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenSP" class="control-label">Tên sản phẩm</label>
                <input asp-for="TenSP" class="form-control" />
                <span asp-validation-for="TenSP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoTa" class="control-label">Mô tả</label>
                <input asp-for="MoTa" class="form-control" />
                <span asp-validation-for="MoTa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiaSP" class="control-label">Giá sản phẩm</label>
                <input asp-for="GiaSP" class="form-control" />
                <span asp-validation-for="GiaSP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChatLieu" class="control-label">Chất liệu</label>
                <input asp-for="ChatLieu" class="form-control" />
                <span asp-validation-for="ChatLieu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HangCungCap" class="control-label">Hãng cung cấp</label>
                <input asp-for="HangCungCap" class="form-control" />
                <span asp-validation-for="HangCungCap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoaiSP" class="control-label">Loại sản phẩm</label>
                <input asp-for="LoaiSP" class="form-control" />
                <span asp-validation-for="LoaiSP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoLuong" class="control-label">Số lượng</label>
                <input asp-for="SoLuong" class="form-control" />
                <span asp-validation-for="SoLuong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<style>
    body {
        background-color: #f8f9fa;
    }

    .login-container {
        max-width: 400px;
        margin: 100px auto;
        padding: 20px;
        background-color: #ffffff;
    }

        .login-container h2 {
            margin-bottom: 20px;
        }

    .btn-custom {
        background-color: #007bff;
        color: #ffffff;
    }

    .btn-signup {
        background-color: #28a745;
        color: #ffffff;
    }
</style>
